.container.flex-horizontal {
    .table-content {
        margin-left: 1em;
        margin-right: 4em;
        flex: 2;
        background-color: #303d42;
        border-radius: 10px;
        padding: 10px 5px;
        justify-items: center;

        .table-content-enum{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 10px;

            ul {
                list-style-type: none;
                a {
                    &:link{
                        text-decoration: none !important;
                    }
                    color:white;
                    cursor: pointer;
                }
            }
        }
    }
    .main{
        flex: 6;
    }
    .flex-2{
        flex: 2;
    }

    .flex-1{
        flex: 1;
    }
}
.grid{
    display: flex;
    justify-content: center;

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      .grid-item {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
}
